.menuContainer--mainMenu .menuItem .styledLinkContainer{
    width:90px;
}
.menuContainer--mainMenu .menuItem .styledLinkContainer .styledLink :global(.nowrap){
    white-space:initial;
    text-align:center;
}
.menuContainer--mainMenu .menuItem:first-child .styledLinkContainer .styledLink :global(.nowrap){
    text-align:left;
}
.submenu {
    justify-content: left;
    width: 300px;
}
.submenu .styledLinkContainer,
.submenu .menuContainerNav,
.menuContainer--mainMenu .submenu .menuItem .styledLinkContainer{
    width:100%;
}